<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linked List Visualizer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Linked List Visualizer</h1>
    
    <div>
        <label for="nodeValue">Node Value:</label>
        <input type="number" id="nodeValue">
        <button onclick="addNode()">Add Node</button>
        <button onclick="removeNode()">Remove Node</button>
        <button onclick="reverseList()">Reverse List</button>
    </div>
    
    <div id="linkedListContainer"></div>

    <script src="../static/script.js"></script>
</body>
</html>
